$primary-font: var(--font-eb-garamond), serif;
$secondary-font: var(--font-inter), sans-serif;

$font-family-base: $secondary-font;
$font-inter: $secondary-font;
$font-garamont: $primary-font;
$white-color: #fff;
$black-color: #000;
$red-color: #741213;
$sand-color: #F4EEEA;

$bg-color: $white-color;
$primary-color: $black-color;

$theme-colors: (
  "primary": $primary-color
);

@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background: $bg-color;
  --bs-primary: $primary-color;
}

html {
  height: 100%;
}

// img {
//   height: auto;
//   width: 100%;
// }

.body {
  display: block;
  height: auto;
  min-height: 100vh;
  background-color: $bg-color;
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  color: $black-color;
  font-weight: 400;
}

.bg-primary-color {
  background-color: $primary-color;
}

.main-container {
  max-width: 100vw;
  min-height: 100vh;

  &.pt-100 {
    padding-top: 100px;
  }
}

.fw-bolder {
  font-weight: 900 !important;
}

.fs-lg-1 {
  font-size: 3rem !important;
}

.fs-7{
  font-size: 0.75rem !important;
}

.fs-8{
  font-size: 0.5rem !important;
}

.fs-9{
  font-size: 0.25rem !important;
}

.h-25vh{
  height: 25vh;
}

.h-50vh{
  height: 50vh;
}

.h-75vh{
  height: 75vh;
}

.h-100vh{
  height: 100vh;
}

.w-lg-25{
  width: 25% !important;
}

.w-lg-50{
  width: 50% !important;
}

.w-lg-75{
  width: 75% !important;
}

.w-lg-100{
  width: 100% !important;
}

.w-lg-auto{
  width: auto !important;
}

.text-primary {
  color: $primary-color !important;
}

.bg-white{
  background-color: $white-color;
}

.bg-secondary{
  background-color: $sand-color;
}

.bg-tertiary{
  background-color: $red-color;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-back {
  background-color: $white-color;
  color: $primary-color;
  border-radius: 100%;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 12px;
}

.footer {
  .footer-content{
    max-width: 1366px;
    width: 100%;
  }
}

.bg-video-container{
  pointer-events: none;
  transition: opacity 1s;
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/images/img-hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba($black-color, 0.65);
  }
}

.page-landing {
  .section-hero{
    height: 100vh;
    .body-content{
      z-index: 1;
      margin-top: -130px;
    }
  }

}


@media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {
  .w-25{
    width: 25% !important;
  }

  .w-50{
    width: 50% !important;
  }

  .w-75{
    width: 75% !important;
  }

  .w-100{
    width: 100% !important;
  }
}

@media screen and (max-width: 575.98px) {
  .page-landing {
    
  }

}